
.icon-psy-dropdown-stroke:before { content: '\e800'; } /* '' */
.icon-psy-dash:before { content: '\e801'; } /* '' */
.icon-psy-dropdown-solid:before { content: '\e802'; } /* '' */
.icon-psy-date:before { content: '\e803'; } /* '' */
.icon-psy-plus-1:before { content: '\e804'; } /* '' */
.icon-psy-coins:before { content: '\e805'; } /* '' */
.icon-psy-edit:before { content: '\e806'; } /* '' */
.icon-psy-settings:before { content: '\e807'; } /* '' */
.icon-psy-plus:before { content: '\e808'; } /* '' */
.icon-psy-tick:before { content: '\e809'; } /* '' */
.icon-psy-error:before { content: '\e80a'; } /* '' */
